global  
        debug  
  
defaults  
        log global  
        mode    http  
        timeout connect 5000  
        timeout client 5000  
        timeout server 5000  
  
frontend main  
        bind *:80  
        default_backend app  
  
backend app  
        balance leastconn  
        mode http  
        server srv1 app1  
        server srv2 app2  
        server srv3 app3  